body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.shopping-list-box {
  width: 150px;
  height: 75px;
  float: left;
  background-color: tomato;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.item-button {
  margin: 5px;
}